@import "tailwindcss";

.p-password-input.p-inputtext.p-component {
  width: 100%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.p-panel-header{
  background-color: lightgrey;
}

.p-togglebutton.p-highlight .p-button{
  background: #7888e3;
  color: white;
}

.p-togglebutton.p-highlight .p-button .p-button-icon-left, .p-togglebutton.p-highlight .p-button .p-button-icon-right {
  color: white!important;
}